@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Playfair+Display:wght@400;500;600;700&display=swap');
@import "tailwindcss";

#root {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}


